/* Fonts
=========== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Inter:400,700&display=swap");

:root {
  --color-earth-primary: #4EA447;
  --color-earth-secondary: #26397C;
  --color-primary: #257;
  --color-primary-light: #f0f6f9;
  --color-secondary: #f1f1f1;
  --color-tertiary: #1a1a1a;
  --color-quantiary: #0279c8;
  --color-fff: #fff;
  --color-000: #000;
  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --fw-reg: 400;
  --fw-bold: 700;
  --shadow-light: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.2);
}

body {
  font-family: var(--ff-secondary);
  letter-spacing: 0.05rem;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
}
main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}
header {
  background-color: var(--color-fff);
  box-shadow: var(--shadow-light);
}
ul {
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
a {
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-earth-secondary);
  transition: all 0.2s;
}
.btn {
  display: inline-block;
  min-width: 11.4rem;
  padding: 1rem;
  border: 0.1rem solid var(--color-tertiary);
  border-radius: 1rem;
  cursor: pointer;
  font-weight: var(--fw-bold);
  letter-spacing: 0.05rem;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  transition: all 0.2s;
}
.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.header__social-container {
  display: none;
  width: 14rem;
}
img {
  position: relative;
  width: 14rem;
}
.nav__mobile-toggle {
  cursor: pointer;
  font-size: 1.5rem;
  background-color: transparent;
  border-color: transparent;
  color: var(--color-earth-secondary);
  transition: all 0.2s linear;
}
.fab {
  padding: 0.7rem;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.2s;
}

@media(max-width: 768px) {
  .header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav__main {
    display: none;
  }
  .nav__mobile-toggle__active {
    transform: rotate(-90deg);
  }
  .nav__mobile-nav__show {
    display: block;
  }
  .nav__main ul li a {
    padding: 0.5rem 1rem;
  }
}
@media(min-width: 641px) {
  h1 {
    font-size: 2rem;
  }
  img {
    width: 16rem;
  }
}
@media(min-width: 769px) {
  ul {
    display: flex;
  }
  nav {
    width: 25rem;
  }
  .header__container {
    max-width: 80rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 auto;
  }
  .nav__mobile-toggle {
    display: none;
  }
}
@media(min-width: 1025px) {
  .header__social-container {
    display: block;
  }
}
@media(hover: hover) and (pointer: fine) {
  a:hover,
  a:focus-visible {
    text-decoration-line: underline;
    text-underline-position: under;
    color: var(--color-earth-primary);
  }
  .fab:hover,
  .fab:focus-visible {
    background-color: var(--color-earth-primary);
    color: var(--color-fff);
  }
}
